<nav class="fixed-top navbar-light nav-shadow d-flex align-items-center">
</nav>

<div class="main-content">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened class="side d-flex flex-column">
            <div class="d-flex flex-row m-3">
                <img src="assets/images/user.png" alt="logo" class="user-image">
                <div class="name-content">
                    <h3 class="user-name m-0 p-0">Fatih Hatip</h3>
                    <h5 class="user-role m-0 p-0">Admin</h5>
                </div>
            </div>

            <div class="menu-options rounded">
                <div class="tab-content d-flex flex-row justify-content-start align-items-center rounded m-1 p-2">
                    <mat-icon class="tab-icon">account_circle</mat-icon>
                    <h4 class="tab-text p-0 m-0 ms-3">My Profile</h4>
                </div>
                <div class="tab-content d-flex flex-row justify-content-start align-items-center rounded m-1 p-2">
                    <mat-icon class="tab-icon">beenhere</mat-icon>
                    <h4 class="tab-text p-0 m-0 ms-3">Delivery</h4>
                </div>
                <div class="tab-content d-flex flex-row justify-content-start align-items-center rounded m-1 p-2">
                    <mat-icon class="tab-icon">compare_arrows</mat-icon>
                    <h4 class="tab-text p-0 m-0 ms-3">Transactions</h4>
                </div>
                <div class="tab-content d-flex flex-row justify-content-start align-items-center rounded m-1 p-2">
                    <mat-icon class="tab-icon">assessment</mat-icon>
                    <h4 class="tab-text p-0 m-0 ms-3">Reports</h4>
                </div>
            </div>
        </mat-drawer>


        <mat-drawer-content>Main content</mat-drawer-content>
    </mat-drawer-container>
</div>