.fixed-top {
    height: 7vh;
    background-color: #3F50B5;
}

.main-content {
    height: 100%;
    margin-top: 55px;
    overflow: hidden;
}

.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
}

.side{
    width: 20%;
    height: 100%;
    float: left;
    padding: 10px;
}

.user-image{
    width: 50px;
    height: 50px;
}

.name-content{
    padding-left: 20px;
}

.menu-options{
    border: 1px solid #55555562;
    padding: 10px;
    margin-top: 25px;
}

.tab-icon{
    color: #3F50B5;
}