.login-page {
    background: linear-gradient(197deg, rgba(63, 82, 181, 1) 0%, rgba(162, 167, 191, 1) 28%, rgba(255, 255, 255, 1) 48%, rgba(247, 239, 221, 1) 76%, rgba(255, 205, 97, 1) 100%);
}

.customer-button {
    background-color:#feb249 !important;
    color: white !important;
}

.employee-button {
    background-color:#002447 !important;
    color: white !important;
}